<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<h3>Add ToDO</h3>

{% if dessert %}

<p><strong>{{dessert.name}}</strong> successfully created! Add another below.</p>
<p><a href="/">Back to Dessert List</a></p>

{% endif %}


<!-- The form action and method correspond to a Flask route -->
<form action="/add" method="POST">

<label for="description">description</label>
<input id="description" name="description" type="text" />

<label for="due_Date">due_Date</label>
<input id="due_Date" name="due_Date" type="date"  />

<!-- We need a submit button to submit a form! -->
<input type="submit" value="Add"/>

</form>