<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
    <h1>Flaskr</h1>
    <ul>
      {% if session['username'] %}
        <li><span>{{ session['username'] }}</span>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('register') }}">Register</a>
        <li><a href="{{ url_for('login') }}">Log In</a>
      {% endif %}
    </ul>s
  </nav>
<ul>
<body><h3>To Do - Menu</h3>
{% for toDo in toDos %}
  {% if not toDo.complete %}
    <div class="ui segment">
        <p>{{ toDo.title }} - {{ toDo.due_date }} </p>
        <a class="ui blue button" href="/update/{{ toDo.id }}">Update</a> 
        <a class="ui red button" href="/delete/{{ toDo.id }}">Delete</a>
    </div>
  {% endif %}
{% endfor %}
<h3>Completed </h3>
{% for toDo in toDos %}
    {% if toDo.complete %}
      <div class="ui segment">
        <p>{{ toDo.title }} - {{ toDo.due_date }}</p>
        <a class="ui blue button" href="/update/{{ toDo.id }}">Update</a> 
        <a class="ui red button" href="/delete/{{ toDo.id }}">Delete</a>
      </div>
    {% endif %}
{% endfor %}

</ul>
</body>

<a href="/add">Add Item</a>